.register {
    background: url("../../assets/images/Register/sign-up.jpg");
}

.img_container {
    height: 20%;
}

.img_container img {
    height: 100%;
}

.login-title {
    background: green;
    padding: 1em;
}