.register {
    background: url("../../assets/images/Register/sign-up.jpg");
}

.img_container {
    height: 20%;
}

.img_container img {
    height: 100%;
}

.login-title {
    background: #10243A;
    padding: 0.8em;
    color: white !important;
    border-radius: 15px;
    font-size: 1rem;
}